{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container">

    <div class="card" style="max-width: 350px; margin: auto; margin-top: 80px;">

        <h1>Iniciar sesión</h1>

        {% if form.errors %}
    <div class="error-box">
        Usuario o contraseña incorrectos.
    </div>

    <br>
{% endif %}

        <form method="post">
            {% csrf_token %}

            {{ form.username.label }}
            {{ form.username }}

            <br><br>

            {{ form.password.label }}
            {{ form.password }}

            <br><br>

            <button type="submit" class="btn btn-info">
                Ingresar
            </button>
        </form>

        <br>

        <p>
            <a href="{% url 'password_reset_demo' %}">
                ¿Olvidaste tu contraseña?
            </a>
        </p>

        <hr>

        <p>
            ¿No tienes cuenta?
            <a href="{% url 'registro' %}">
                Regístrate aquí
            </a>
        </p>

    </div>

</div>

</body>
</html>