{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nueva contraseña</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container">

    <div class="card" style="max-width: 450px; margin: auto; margin-top: 80px;">

        <h1>Establecer nueva contraseña</h1>

        <p>
            Ingresa y confirma tu nueva contraseña.
        </p>

        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Cambiar contraseña
            </button>
        </form>

    </div>

</div>

</body>
</html>