{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reservas Disponibles</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="container">

    <h1>🌐 Reservas disponibles</h1>

    <div class="card">
        <a class="btn" href="{% url 'lista_reservas' %}">
            Mis reservas
        </a>
    </div>

    {% for reserva in reservas %}

    <div class="card">

        <h3>{{ reserva.cancha.nombre }}</h3>

        <p>{{ reserva.fecha }}</p>
        <p>{{ reserva.hora_inicio }} - {{ reserva.hora_fin }}</p>
        <p>{{ reserva.jugadores.count }} / {{ reserva.capacidad }}</p>

        {% if reserva.jugadores.count < reserva.capacidad %}

            <a class="btn" href="{% url 'unirse_reserva' reserva.id %}">
                Unirse
            </a>

        {% else %}

            <p style="color:#ef4444;"><strong>Reserva llena</strong></p>

        {% endif %}

    </div>

    {% empty %}

        <div class="card">
            <p>No hay reservas disponibles</p>
        </div>

    {% endfor %}

</div>

</body>
</html>