{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        Deportiva
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>

<body>

<div class="navbar">

    <div class="navbar-logo">
        Deportiva
    </div>

    <div class="navbar-links">

        <a href="{% url 'lista_usuarios' %}">
            Buscar Jugadores
        </a>

        {% if user.is_superuser %}

        <a href="{% url 'admin_usuarios' %}">
            Administrar Usuarios
        </a>

        {% endif %}

        <a href="{% url 'home' %}">
            Home
        </a>

        <a href="{% url 'lista_canchas' %}">
            Canchas
        </a>

        <a href="{% url 'lista_reservas' %}">
            Reservas
        </a>

        <a href="{% url 'reservas_disponibles' %}">
            Disponibles
        </a>

        <a href="{% url 'solicitudes_amistad' %}">
            Solicitudes de amistad
        </a>

        <a href="{% url 'perfil' %}">
            Perfil
        </a>

        

    </div>

</div>

<div class="container">

    {% block content %}
    {% endblock %}

</div>

</body>
</html>